
.home-product {
    display: flex;
    padding-top: 20px;
    
}
.home-product-item-info {
    padding-left: 20px;
    width: 100%;

    
}
.home-product-item-intro {
    font-size: 30px;
    line-height: 1.5;

}
.home-product-item-img {
    width: 500px;
    height: 500px;
    padding-left: 10px;
}
.home-product-rating {
    color: #d5d5d5;
    font-size: 0.6rem;
    margin: -1px 0 0 auto;
    
}
.home-product-item__action {
    display: flex;
    margin: 6px 10px 0;
    padding-top: 20px;
    padding: 0;
}
.home-product-item__like {
    font-size: 1.3rem;
    padding-left: 50px;
}
i.home-product-item__like-icon-fill {
    color: #f63d30;
    display: none;
}
.home-product-item__like--liked .home-product-item__like-icon-fill {
    display: inline-block;
}
.home-product-item__like--liked .home-product-item__like-icon-empty {
    display: none;
}

.home-product-item__star--gold {
    padding: 0;
    color: #ffce3e;
}
.home-product-item__sold {
    
    padding-left: 50px;
}
.home-product-item-price {
    color: var(--primary-color);
    font-size: 2rem;
    font-weight: 600;
    padding-top: 50px;
}
.home-product-item-quanlity {
    font-size: 2rem;
    font-weight: 300;
    height: 60px;
    display: flex;
    margin-top: 20px;
    
}
.home-product-item-quanlity__para {
    padding-top: 15px;

}
.home-product-number {
    border: 1px solid #7a7979;
    border-radius: 4px;
    width: 250px;
    height: 50px;
    padding: 10px;
    margin-left: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.home-product-number--circle-grey {
    background-color: rgb(188, 186, 186);
    padding: 3px 10px;
    border-radius: 50%;
}
.home-product-item-type {
    font-size: 2rem;
    line-height: 1.2rem;
    display: flex;

}
.home-product-item-type-info {
    padding-top: 15px;
}
.home-product-item-type__color {
    width: 300px ;
    padding-left: 50px;
    display: flex;
    justify-content: space-between;
}
.home-product-item-type--brown {
    font-size: 1.8rem;
    border-radius: 3px;
    display: block;
    height: 45px;
    width: 100px;
    color: white;
    background-color: #333;
    align-items: center;
    text-align: center;
}
.home-product-item-type--black {
    font-size: 1.8rem;
    border: 1px solid #333;
    border-radius: 3px;
    width: 100px;
    text-align: center;

}